# Virtual Environment
venv/
.venv311/
betting_env/
.conda

# Data files
ps-data/data/*
ps-data/data/raw/*
ps-data/data/processed/*
*.csv
*.parquet

# Database files
db/*.db

# Model files
models/*.pkl

# Logs
logs/*.log

# Python Cache
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Private Files
.env
token.json
